
@font-face {
  font-family:MavenProBlack;
  src: url(MavenProBlack.ttf);
}

@font-face {
  font-family: mavenprobold;
  src: url(MavenProBold.ttf);
}

@font-face {
  font-family: mavenpromedium;
  src: url(MavenProMedium.ttf);
}



body{
	background-color:#CEEFBE;
}


.title{
  text-align:center;
  color:#184E10;
  font-size:470px;
  font-family:MavenProBlack;
  text-decoration:none;
  position:fixed;
  left:155px;
  top:-140px;
}

.arrow {
  border: solid #184E10;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position:fixed;
  top:700px;
  left:825px;

}

a.h1{
  text-decoration:none;
	text-align:center;
  left:610px;
  top:30px;
  position:absolute;
	color:#184E10;
	font-size:130px;
	font-family:MavenProBlack;
	margin:30px;
 }

h3{
  font-family:mavenprobold;
  font-size:25px;
}

.header1, .header2, .header3 {
	color:#184E10;
	font-size:70px;
	font-family:MavenProBold;
	text-align: left;
	padding-left:240px;
  padding-top:60px;
}


a{

text-decoration:none;
text-decoration-line: underline;
color:#184E10;

}

#definition, #wikipedia, #psychology{

font-family:MavenProMedium;
font-size:20px;
color:#184E10;
padding-left:260px;
padding-right:260px;

}

/*.first:hover {
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #184E10;
 }*/

.home{
  text-align;left;
  background-color:#CEEFBE;
  border: none;
  color: #184E10;
  padding: 35px 35px;
  margin-left:30px;
  margin-top:10px;
  font-size: 55px;
  cursor: pointer;
}
